/* src/app/(dashboard)/layout.module.css */
.layout {
    display: flex;
    min-height: 100vh;
}

.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

.content {
    margin-top: var(--altura-header); 
    background-color: var(--cor-fundo);
    flex-grow: 1;

    /* 1. REMOVIDO: A propriedade 'overflow-x: auto' foi retirada daqui. */
    /*    Isso impede que a página inteira crie uma barra de rolagem. */

    /* 2. "Truque" do Flexbox que permite ao 'overflow' dos filhos funcionar corretamente */
    /*    Esta linha é importante e deve ser mantida. */
    min-width: 0; 
}